<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="styles.css">
<title>
  {% extends 'base.html' %}
  {% block content %}
  </title>
<body>
      <h1>Paciente</h1>
     

     <table>
  <tr>
    <th>
      idp
    </th>
    <th>
      faixaEtaria
    </th>
    <th>
      genero
    </th>
  </tr>
  <tr>
    <td>
      {{ c.id }}
    </td>
    <td>
      <a href="/concelhos/{{ c.codigo }}/">{{ c.codigo}}</a>
    </td>
    <td>
      {{ c.descrição }}
    </td>
    {% endfor %}
  </tr>
</table>
</body>
{% endblock %}
</html>