{% extends 'base.html' %}

{% block content %}
<h1> Dados de Diagnósticos por Hospital </h1>

  <table>
      <tr>
          <th> Hospital </th>
          <th> Diagnóstico </th>
          <th> Nº de Internamentos </th>
          <th> Nº Máximo de dias de Internamento </th>
          <th> Nº de Ambulatórios</th>
          <th> óbitos</th>
      </tr>
      {% for s in stuff %}
      <tr>
          <td>{{ s.Hospital }}</td>
          <td>{{ s.Diagnostico }}</td>
          <td>{{ s.Total_Internamentos }}</td>
          <td>{{ s.Max_Dias_Internamento }}</td>
          <td>{{ s.Total_Ambulatorio }}</td>
          <td>{{ s.Total_Obitos }}</td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
