
  {% extends 'base.html' %}
  {% block content %}

<body>
<h1>Base de Bados de  Morbilidade</h1>

<table>
  <tr>
    <th>
      Periodo
    </th>
    <th>
      Instituição
    </th>
    <th>
      Região
    </th>
    <th>
      Diagnosticos
    </th>
    <th>
      Paciente
    </th>
    <th>
    Clinic_Stats
    </th>
  </tr>
      {% for c in ClinicStats %}
  <tr>
    <td>
      {{ stats.n_periodo }}
    </td> 
    <td>
      {{ stats.n_instituição }}
    </td> 
    <td>
      {{ stats.n_região }}
    </td>
      <td>
      {{ stats.diagnostico }}
    </td>
    <td>
      {{ stats.pacinte  }}
    </td>
    <td>
    {{stats.Clinic_Stats}}
    </td>
  </tr>
  {% endfor %}
</table>

<p>
  <a href="/Periodo.html">Lista periodo</a>
  <a href="/Instituicao.html">Lista instituição</a>
  <a href="/Regiao.html">Lista região</a>
  <a href="/Diagnostico.html">Lista diagnostico</a>
  <a href="/Paciente.html">Lista pacinte</a>
  <a href="/Clinic_Stats.html">Lista Clinic_Stats</a>
</p>


{% endblock %}
