{% extends 'base.html' %}

{% block content %}

<h1>Base de Bados de Morbilidade</h1>

  <p><a href="/Clinic_Stats/">Lista Clinic Stats</a> Aviso: Tem muita informação então crasha o separador</p>
  <p><a href="/listar/">informacopes dos diagnósticos por Hospital</a> Para listar ClinicStats mas com mais agregação e  impedir que o browser fique sem memória</p>
  <p> Falta pergunta 2 </p>
  <p> Falta pergunta 3 </p>
  <p><a href="/Obitos_Instituicao/">3 pregunta do relatorio</a></p>
  <p><a href="/regiao_d/">5ª Pergunta</a> óbitos por região</p>
  <p><a href="/Diag_Pac/">6ª Pergunta</a> Paciente com mais internamentos num diagnóstico</p>
  <p><a href="/nadafeito/">7ª Pergunta</a> hospitais onde nunca foi regitado um diagnostico </p>

  <p><a href="/pergunta9/">9ª Pergunta</a> numero de obitops e porporção </p>

  <p><a href="/Periodo">Lista período</a></p>
  <p><a href="/Instituicao/">Lista instituição</a></p>
  <p><a href="/Regiao/">Lista região</a></p>
  <p><a href="/Diagnostico/">Lista diagnóstico</a></p>
  <p><a href="/Paciente/">Lista paciente</a></p>
  <p><a href="/DiagnosticosPorHospital/">Total de Diagnósticos Por Hospital</a></p>


{% endblock %}