{% extends 'base.html' %}

{% block content %}

<h1>Base de Bados de Morbilidade</h1>

  
 
  <p><a href="/hpor">2ª Pergunta</a> Hospitais por regiao</p>
  <p> Falta pergunta 3 </p>
  <p><a href="/Obitos_Instituicao/">3ª Pergunta</a> Óbitos por intituição</p>
  <p><a href="/regiao_d/">5ª Pergunta</a> Óbitos por região</p>
  <p><a href="/Diag_Pac/">6ª Pergunta</a> Paciente com mais internamentos num diagnóstico</p>
  <p><a href="/nadafeito/">7ª Pergunta</a>Instituições e os diagnósticos que não foram atendidos neste hospital, sendo ordenado por instituição. </p>
  <p><a href="/pergunta8/">8ª Pergunta</a> Periodo com maior numero de obitos por instituição </p>
  <p><a href="/pergunta9/">9ª Pergunta</a> Numero de obitops e porporção </p>

  <p><a href="/Periodo">Lista período</a></p>
  <p><a href="/Instituicao/">Lista instituição</a></p>
  <p><a href="/Regiao/">Lista região</a></p>
  <p><a href="/Diagnostico/">Lista diagnóstico</a></p>
  <p><a href="/Paciente/">Lista paciente</a></p>
  <p><a href="/DiagnosticosPorHospital/">Total de Diagnósticos Por Hospital</a></p>
  <p><a href="/Clinic_Stats/">Lista Clinic Stats</a> Aviso: Tem muita informação então crasha o separador</p>
  <p><a href="/listar/">informacopes dos diagnósticos por Hospital</a> Para listar ClinicStats mas com mais agregação e  impedir que o browser fique sem memória</p>
{% endblock %}