
{% extends 'base.html' %}
{% block content %}

<h1> {{ nome }}</h1>
<h2> Região: regiao</h2>
<table>
  <tr>
    <th> Diagnóstico </th>
    <th> Nº de Internamentos </th>
    <th> Máximo Nº de Dias de Internamento </th>
    <th> Nº de Ambulatórios </th>
    <th> Nº de Óbitos </th>
  </tr>
  {% for i in instituicao %}
  <tr>
    <td>{{ i.Diagnostico }}</td>
    <td>{{ i.Total_Internamentos }}</td>
    <td>{{ i.Max_Dias_Internamento }}</td>
    <td>{{ i.Total_Ambulatorio }}</td>
    <td>{{ i.Total_Obitos }}</td>
  {% endfor %}
</table>
{% endblock %}