{% extends 'base.html' %}
{% block content %}

      <h1>Clinic Stats</h1>
<table>
  <tr>
    <th>
    <data value=""></data>
    </th>
    <th>Instituicao</th>
    <th>Doença</th>
    <th> total internamento</th>
    <th> maximo dias de internamento</th>
    <th>totalambulatório</th>
    <th>total de óbitos</th>
  </tr>
    {% for c in clinicstats %}
  <tr>
    <td>{{ c.Hospital }}</td>
    <td>{{ c.Diagnosyico }}</td>
    <td> {{ c.Total_Internamentos }}</td>
    <td>{{ c.Max_Dias_Internamento }}</td>
    <td>{{ c.Total_Ambulatorio }}</td>
    <td>{{ c.Total_Obitos }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}