{% extends 'base.html' %}

{% block content %}
<h1> obitos por instituição </h1>
  <table>
      <tr>
          <th>Hospitais</th>
          <th>Região</th>
          <th>Diagnósticos</th>
          <th>Data</th>
          <th>Obitos</th>
      </tr>
      {% for o in obitos %}
      <tr>
          <td>{{ o.Hospitais }}</td>
          <td>{{ o.Regiao }}</td>
          <td>{{ o.Diagnostico }}</td>
          <td>{{ o.Data }}</td>
          <td>{{ o.Obitos }}</td>
      </tr>
      {% endfor %}
  </table>
    {% endblock %}