
{% extends 'base.html' %}
{% block content %}

<h1>Mostre, para um hospital específico, os diagnósticos realizados, juntamente com o número de internamentos, o máximo de dias de internamento, o número total de ambulatórios e o número total de óbitos agrupados por doenças. </h1>

<table>
  <tr>
     <th> Hospital </th>
    <th> Diagnóstico </th>
    <th> Total_Internamentos </th>
    <th> Máximo Nº de Dias de Internamento </th>
    <th> Nº de Ambulatórios </th>
    <th> Nº de Óbitos </th>
  </tr>
  {% for i in pergunta15 %}
  <tr>
     <td>{{ i.Hospital, }}</td>
    <td>{{ i.Diagnostico }}</td>
    <td>{{ i.Total_Internamentos }}</td>
    <td>{{ i.Max_Dias_Internamento }}</td>
    <td>{{ i.Total_Ambulatorio }}</td>
    <td>{{ i.Total_Obitos }}</td>
  {% endfor %}
</table>
{% endblock %}